.image-show-container {
  padding-bottom: 30px;
}

.image-container {
  background-color: var(--color-light-black);
  height: 737px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-image {
  width: auto;
  height: auto !important;
  max-height: 80%;
  max-width: 80%;
}

.outer-info-comment-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;
  min-height: 710px;
}

.inner-info-comment-container {
  display: flex;
}

.image-info-container, .image-comment-container {
  background-color: var(--color-white);
  padding: 10px 0px 30px;
}

.image-info-container {
  width: 933px;
  min-width: auto;
  height: 800px;
  margin-right: 10px;
}

.image-comment-container {
  width: 400px;
  height: 800px;
  margin-left: 10px;
}

.icons {
  display: flex;
  padding: 20px;
}

.svg-icon, 
.svg-like-icon {
  margin-right: 30px;
  cursor: pointer;
}

.image-show-like-icon-blue {
  fill: var(--color-light-dark-blue);
}

.image-show-uploader-info-container {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  img {
    height: 64px;
    width: 64px;
  }
  .image-show-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: var(--color-light-black);
    margin-bottom: 10px;
  }
  .image-show-author-info-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--color-light-black);
    font-family: var(--main-font-family);
    word-break: break-word;
  }
}

.image-show-author-first-name {
  margin-right: 3px;
}

.image-uploaded-date-container,
.image-show-description {
  margin: 20px 35px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-light-black);
  white-space: pre-wrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--main-font-family);
}

.image-show-uploaded-date-info-text,
.image-show-uploaded-date-info {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-light-black);
  font-family: var(--main-font-family);
  margin-right: 10px;
}

.image-show-uploaded-date-info-text {
  font-weight: bold;
}

.image-show-popularity-container {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 16px;
  margin-left: 34px;
}

.image-show-popularity-pulse,
.image-show-popularity-impressions,
.image-show-popularity-popular {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-right: 16px;
  margin-bottom: 8px
}

.image-show-popularity-impressions {
  margin-left: 16px;
}

.pulse,
.impressions,
.popular {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0px 4px 0px 0px;
  color: var(--color-light-black);
  font-family: var(--main-font-family);
}

.pulse-number,
.impressions-number {
  line-height: 1;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  color: var(--color-light-black);
  font-family: var(--main-font-family);
}

.image-show-like-counter-container,
.image-show-category,
.image-show-galleries  {
  max-width: 100%;
  margin-bottom: 16px;
  margin-left: 34px;
}

.image-show-like-counter-hover-effect {
  position: relative;
  transition: color 0.1s ease 0s;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-light-black);
  display: inline-flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}

.image-show-like-counter-hover-effect:hover {
  color: var(--color-light-dark-blue);
  fill: var(--color-light-dark-blue);
}

.image-show-info-category-title,
.image-show-info-galleries-title {
  span {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px 16px 0px 0px;
    color: var(--color-light-black);
    font-weight: bold;
    font-family: var(--main-font-family);
  }
}

.other-user-profile-impressions-info {
  cursor: pointer;
}

.image-show-info-galleries-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 272px;
  max-width: 280px;
  border: 1px solid var(--color-darker-white);
  margin-top: 20px;
}

.image-show-galleries-svg-container {
  max-width: 100%;
  position: relative;
  height: 48px;
  width: 48px;
  svg {
    height: 48px;
    width: 48px;
  }
}

.galleries-info-text {
  text-align: center;
  max-width: 208px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 16px 0px;
  color: var(--color-light-black);
  font-weight: bold;
}

.galleries-button {
  min-width: 160px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  background-color: var(--color-white);
  border-color: var(--color-light-dark-blue);
  color: var(--color-light-dark-blue);
  position: absolute;
  left: -50px;
}

.galleries-button:hover {
  background-color: var(--color-dark-white2);
}

@media (max-width: 1400px) {
  .image-info-container {
    width: 900px;
  }
}

@media (max-width: 1300px) {
  .image-info-container {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .image-info-container {
    width: 700px;
  }
}

@media (max-width: 1100px) {
  .image-info-container {
    width: 600px;
  }
}

@media (max-width: 1000px) {
  .image-info-container {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .image-info-container,
  .image-comment-container {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .inner-info-comment-container {
    display: block;
  }
  .image-info-container {
    width: 700px;
  }
  .image-comment-container {
    width: 700px;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 700px) {
  .inner-info-comment-container {
    display: block;
  }
  .image-info-container {
    width: 600px;
  }
  .image-comment-container {
    width: 600px;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .inner-info-comment-container {
    display: block;
  }
  .image-info-container,
  .image-comment-container {
    width: 500px;
  }

  .image-container {
    height: 880px;
  }
}

@media (max-width: 500px) {
  .inner-info-comment-container {
    display: block;
  }
  .image-info-container,
  .image-comment-container {
    width: 450px;
  }
}

@media (min-width: 415px) {
  .image-show-popularity,
  .image-show-popularity-impressions,
  .image-show-popularity-popular {
    margin-right: 32px;
  }
  .image-show-popularity-impressions {
    margin-left: 32px;
  }
}