@import "../../variables.scss";

.user-profile-information,
.other-user-profile-information {
  background-color: #ffffff;
}

.user-profile-arrow {
  margin-left: 50px; 
}

.user-profile-arrow:hover {
  cursor: pointer;
}

.user-profile-main-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.user-profile-picture-image {
  max-height: 94px;
  img {
    height: 94px;
    width: 94px;
  }
}

.circular {
  border-radius: 50%;
}

.user-profile-picture-input-container {
  max-width: 44px;
  max-height: 44px;
  min-height: 44px;
  min-width: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: -50px;
  left: 70px;
  cursor: pointer;
  .user-profile-picture-input-label {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 8%) 0px 0px 4px, rgba(0, 0, 0, 16%) 0px 4px 12px;
  }
}

.user-profile-picture-input-container:hover {
  filter: brightness(80%);
}

.user-profile-main-icons {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: -300px;
  .user-profile-edit-icon-container {
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
    position: relative;
    left: -10px;
  }

  .user-profile-edit-icon-container:hover {
    outline: none;
    opacity: 1;
    background-color: rgba(34, 34, 34, 0.1);
    text-decoration: none;
  }
}

.user-profile-edit-icon, 
.user-profile-share-icon, 
.user-profile-portfolio-icon, 
.user-profile-more-icon {
  margin-right: 20px;
}
.user-profile-edit-icon:hover {
  cursor: pointer;
}
.user-profile-share-icon:hover, 
.user-profile-portfolio-icon:hover, 
.user-profile-more-icon:hover {
  cursor: not-allowed;
}

// .user-profile-username {
//   display: flex;
//   justify-content: center;
//   font-size: 24px;
//   line-height: 28px;
//   font-weight: bold;
//   text-transform: none;
//   color: rgb(34, 34, 34);
//   // margin-top: 30px;
// }

.user-profile-full-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: none;
  color: rgb(34, 34, 34);
  // margin-top: 30px;
  .user-profile-first-name {
    margin-right: 6px;
  }
}

.user-profile-location-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .user-profile-location-icon {
    // margin-right: 10px;
    position: relative;
    top: -2px;
  }
  .user-profile-location-city, 
  .user-profile-location-state {
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    color: rgb(34, 34, 34);
    border-bottom: 1px dashed rgb(34, 34, 34);
  }
}

.user-profile-about {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  color: rgb(34, 34, 34);
  text-align: center;
}

.user-profile-links-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .user-profile-twitter-link {
    margin-left: 10px;
  }
  .user-profile-twitter-link,
  .user-profile-instagram-link,
  .user-profile-facebook-link,
  .user-profile-website-link {
    margin-right: 15px;
  }
}

.user-profile-nav-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 5px;
  .user-profile-nav-bar-link,
  .user-profile-nav-bar-link-main {
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    padding-bottom: 10px;
  }
  .user-profile-nav-bar-link {
    color: rgb(109, 115, 120);
  }
  .user-profile-nav-bar-link-main {
    color: rgb(8, 112, 209);
    border-bottom: 1px solid rgb(8, 112, 209);
  }
  .user-profile-nav-bar-link:hover,
  .user-profile-nav-bar-link-main:hover {
    color: rgb(8, 112, 209);
    border-bottom: 1px solid rgb(8, 112, 209);
    cursor: pointer;
  }
  .user-profile-nav-bar-link:hover {
    cursor: not-allowed;
  }  
}

.user-show-image-title {
  display: none;
}

.user-image-gallery-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 480px));
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 260px;
  
  .user-show-image-container {
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }
  
  .user-show-image:hover {
    filter: brightness(90%);
  }

  .user-show-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-profile-likes-impressions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .user-profile-likes,
  .user-profile-impressions {
    margin-right: 15px;
    font-size: 14px;
    line-height: 0px;
    text-transform: none;
    color: rgb(34, 34, 34);
    font-family: Helvetica;
    word-break: break-word;
  }
  .user-profile-impressions-info {
    position: relative;
    top: -8px;
    left: -8px;
  }
  .user-profile-impressions-info:hover {
    cursor: not-allowed;
  }
}

.user-profile-likes-number,
.user-profile-impressions-number {
  margin-right: 5px;
}

.other-user-profile-space {
  padding-top: 50px;
}

.other-user-profile-main-container {
  display: flex;
  justify-content: center;
}

.other-user-profile-picture-image {
  img {
    height: 94px;
    width: 94px;
  }
}

.other-user-profile-picture-icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: -100px;
  .other-user-profile-picture-icon-airplane,
  .other-user-profile-picture-icon-share,
  .other-user-profile-picture-icon-report {
    margin-right: 20px;
  }
  .other-user-profile-picture-icon-airplane:hover,
  .other-user-profile-picture-icon-share:hover,
  .other-user-profile-picture-icon-report:hover {
    cursor: not-allowed;
  }
}

// .other-user-profile-username {
//   display: flex;
//   justify-content: center;
//   font-size: 24px;
//   line-height: 28px;
//   font-weight: bold;
//   text-transform: none;
//   color: rgb(34, 34, 34);
// }

.other-user-profile-full-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: none;
  color: rgb(34, 34, 34);
  .other-user-profile-first-name {
    margin-right: 6px;
  }
}

.other-user-profile-location-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .other-user-profile-location-icon {
    // margin-right: 10px;
    position: relative;
    top: -2px;
  }
  .other-user-profile-location-city, 
  .other-user-profile-location-state {
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    color: rgb(34, 34, 34);
    border-bottom: 1px dashed rgb(34, 34, 34);
  }

  // .other-user-profile-location-city:hover,
  // .other-user-profile-location-state:hover {
  //   cursor: not-allowed;
  // }
}

.other-user-profile-follow-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .other-user-profile-follow-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0px;
    border-width: 2px;
    border-radius: 28px;
    border-style: solid;
    cursor: not-allowed;
    text-align: center;
    background-color: rgb(8, 112, 209);
    border-color: rgb(8, 112, 209);
    color: rgb(255, 255, 255);
    max-height: 32px;
    padding: 4px 14px;
    touch-action: manipulation;
    outline: none;
    text-transform: none;
    overflow: visible;
  }
}

.other-user-about {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.other-user-profile-likes-impressions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .other-user-profile-followers,
  .other-user-profile-followings,
  .other-user-profile-likes,
  .other-user-profile-impressions {
    margin-right: 15px;
    font-size: 14px;
    line-height: 0px;
    text-transform: none;
    color: rgb(34, 34, 34);
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial sans-serif;
    word-break: break-word;
  }
  .other-user-profile-impressions-info {
    position: relative;
    top: -8px;
    left: -8px;
  }
  .other-user-profile-impressions-info:hover {
    cursor: not-allowed;
  }
}

.other-user-profile-followers-number,
.other-user-profile-followings-number,
.other-user-profile-likes-number,
.other-user-profile-impressions-number {
  margin-right: 5px;
}

.other-user-profile-followers-word,
.other-user-profile-followings-word {
  font-weight: bold;
}

.other-user-profile-links-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .other-user-profile-twitter-link,
  .other-user-profile-instagram-link,
  .other-user-profile-facebook-link,
  .other-user-profile-website-link {
    margin-right: 10px;
  }
}

.other-user-profile-nav-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 5px;
  .other-user-profile-nav-bar-link,
  .other-user-profile-nav-bar-link-main {
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    padding-bottom: 10px;
  }
  .other-user-profile-nav-bar-link {
    color: rgb(109, 115, 120);
  }
  .other-user-profile-nav-bar-link-main {
    color: rgb(8, 112, 209);
    border-bottom: 1px solid rgb(8, 112, 209);
  }
  .other-user-profile-nav-bar-link:hover,
  .other-user-profile-nav-bar-link-main:hover {
    color: rgb(8, 112, 209);
    border-bottom: 1px solid rgb(8, 112, 209);
    cursor: pointer;
  }
  .other-user-profile-nav-bar-link:hover {
    cursor: not-allowed;
  }
}

@media (max-width: 2000px) {
  .user-image-gallery-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1400px) {
  .user-profile-main-icons {
    display: flex;
    justify-content: center;
    left: 0;
    margin: 10px 0;
  }
}

@media (max-width: 1230px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(3, minmax(min-content, 300px));
  }
}

@media (max-width: 1000px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(2, minmax(min-content, 300px));
  }
}

@media (max-width: 950px) {
  .other-user-profile-picture-icon {
    display: flex;
    justify-content: center;
    left: 0;
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(1, minmax(min-content, 300px));
  }
  .user-profile-nav-bar-link {
    display: none;
  }
}