.user-profile-information,
.other-user-profile-information {
  background-color: var(--color-white);
}

.user-profile-information-top-container,
.other-user-profile-information-top-container {
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 32px;
  position: relative;
}

.user-cover-pic-container,
.other-user-cover-pic-container {
  overflow: hidden;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.user-cover-picture-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  margin-bottom: 0px;
  color: var(--color-white);
  width: 100%;
  background-color: var(--color-white);
  transform: translate3d(0px, 0px, 0px)
}

.user-profile-arrow-container {
  max-width: 100%;
  margin-top: 16px;
  margin-left: 16px;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
}

.user-profile-arrow-inner-container {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
  }
  svg {
    height: 24px;
    width: 24px;
    overflow: hidden;
  }
}

.user-profile-main-container,
.other-user-profile-main-container {
  bottom: -44px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  bottom: 36px;
  box-sizing: border-box;
}

.user-profile-picture-image,
.other-user-profile-picture-image {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.user-profile-picture-image-inner,
.other-user-profile-picture-image-inner {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 80px;
  min-width: 80px;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  cursor: unset;
  .profile-image {
    border: 2px solid var(--color-white);
    height: 80px;
    width: 80px;
    vertical-align: middle;
    position: relative;
    left: 10px;
  }
}

.user-cover-picture-input-container {
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 320px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 8%) 0px 0px 4px, rgba(0, 0, 0, 16%) 0px 4px 12px;
  cursor: pointer;
}

.user-cover-picture-input-label {
  cursor: pointer;
}

.user-profile-picture-input-container {
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 8%) 0px 0px 4px, rgba(0, 0, 0, 16%) 0px 4px 12px;
  right: -35px;
  bottom: -10px;
  cursor: pointer;
}

.user-profile-picture-input-label {
  cursor: pointer;
}

.user-main-info-container-outer,
.other-user-main-info-container-outer {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  display: block;
}

.user-profile-main-icons,
.other-user-profile-main-icons {
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  margin-bottom: 16px;
}

.user-profile-icon-container,
.other-user-profile-icon-container {
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.user-profile-edit-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.user-profile-share-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.user-profile-portfolio-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.user-profile-more-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.other-user-profile-airplane-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.other-user-profile-share-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.other-user-profile-report-icon {
  max-width: 100%;
  position: relative;
  height: 24px;
  width: 24px;
  a {
    opacity: 0;
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    cursor: pointer;
  }
  a:hover {
    opacity: 1;
    background: var(--color-light-black-opacity);
  }
  svg {
    overflow: hidden;
    box-sizing: border-box;
  }
}

.user-profile-full-name-container {
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 8px;
}

.user-profile-full-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 0px;
  color: var(--color-light-black);
  text-align: center;
  font-family: var(--main-font-family);
}

.user-profile-location-outer-container,
.other-user-profile-location-outer-container {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 4px;
}

.user-profile-location-container,
.other-user-profile-location-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

.other-user-profile-location-icon,
.user-profile-location-icon {
  margin-right: 8px;
}

.user-profile-location-city-country,
.other-user-profile-location-city-country {
  word-break: break-word;
  max-width: 100%;
  margin-left: 4px;
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    color: var(--color-light-black);
    font-family: var(--main-font-family);
    border-bottom: 1px dashed var(--color-light-black);
  }
}

.user-profile-location-city,
.other-user-profile-location-city {
  word-break: break-word;
  max-width: 100%;
  margin-left: 4px;
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    color: var(--color-light-black);
    font-family: var(--main-font-family);
    border-bottom: 1px dashed var(--color-light-black);
  }
}

.user-profile-location-country,
.other-user-profile-location-country {
  word-break: break-word;
  max-width: 100%;
  margin-left: 4px;
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    color: var(--color-light-black);
    font-family: var(--main-font-family);
    border-bottom: 1px dashed var(--color-light-black);
  }
}

.user-profile-about,
.other-user-about {
  word-break: break-word;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    color: var(--color-light-black);
    text-align: center;
    font-family: var(--main-font-family);
    max-width: 560px;
  }
}

.user-profile-likes-impressions-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  .user-profile-likes {
    max-width: 100%;
    display: flex;
    margin-left: 16px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
  }
  .user-profile-impressions {
    word-break: break-word;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin-left: 16px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0px 10px 0px 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
    .user-profile-impressions-info {
      word-break: break-word;
      max-width: 100%;
      align-items: center;
      flex-direction: column;
      display: flex;
      position: relative;
    }
  }
}

.other-user-profile-likes-impressions-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  .other-user-profile-followers {
    max-width: 100%;
    display: flex;
    margin-left: 16px;
    p:first-child {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
    p:last-child {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
      font-weight: bold;
    }
  }
  .other-user-profile-followings {
    max-width: 100%;
    display: flex;
    margin-left: 16px;
    p:first-child {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
    p:last-child {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
      font-weight: bold;
    }
  }
  .other-user-profile-likes {
    max-width: 100%;
    display: flex;
    margin-left: 16px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
  }
  .other-user-profile-impressions {
    word-break: break-word;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin-left: 16px;
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0px 10px 0px 0px;
      color: var(--color-light-black);
      font-family: var(--main-font-family);
    }
    .other-user-profile-impressions-info {
      word-break: break-word;
      max-width: 100%;
      align-items: center;
      flex-direction: column;
      display: flex;
      position: relative;
    }
  }
}

.user-profile-links-container,
.other-user-profile-links-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  .user-profile-twitter-link,
  .user-profile-instagram-link,
  .user-profile-facebook-link,
  .user-profile-website-link,
  .other-user-profile-twitter-link,
  .other-user-profile-instagram-link,
  .other-user-profile-facebook-link,
  .other-user-profile-website-link {
    max-width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.user-profile-nav-bar-container,
.other-user-profile-nav-bar-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  position: sticky;
  top: 50px;
  z-index: 2;
  background-color: var(--color-white);
  overflow-x: scroll;
}

.user-profile-nav-bar-container::before,
.other-user-profile-nav-bar-container::before {
  content: "";
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 18px 32px;
  margin-left: -16px;
  background: linear-gradient(90deg rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 53.65%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.user-profile-nav-bar-container::after,
.other-user-profile-nav-bar-container::after {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 18px 32px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 53.65%);
}

.user-profile-nav-bar-link-1{
  margin-left: auto;
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0px 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-1-highlighted{
  margin-left: auto;
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0px 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-2 {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-2-highlighted {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-3 {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-3-highlighted {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-4 {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-4-highlighted {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-5 {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-5-highlighted {
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-6:last-of-type {
  margin-right: auto;
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-profile-nav-bar-link-6-highlighted:last-of-type {
  margin-right: auto;
  outline: none;
  border: none;
  background-color: var(--color-white);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  p {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 36px;
    font-weight: bold;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0px;
    font-family: var(--main-font-family);
    cursor: pointer;
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
  p:hover{
    color: var(--color-light-dark-blue);
    box-shadow: var(--color-light-dark-blue) 0px -2px inset;
  }
}

.user-image-gallery-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 480px));
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 260px;
  
  .user-show-image-container {
    width: 100%;
    height: 100%;
    filter: brightness(100%);
  }
  
  .user-show-image:hover {
    filter: brightness(90%);
  }

  .user-show-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 2000px) {
  .user-image-gallery-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1230px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(3, minmax(min-content, 300px));
  }
}

@media (max-width: 1000px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(2, minmax(min-content, 300px));
  }
}

@media (max-width: 600px) {
  .user-image-gallery-container {
    grid-template-columns: repeat(1, minmax(min-content, 300px));
  }
  .user-profile-nav-bar-link {
    display: none;
  }
}

.user-galleries-inner-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 64px 16px 128px;
  background-color: var(--color-light-white);
}

.user-galleries-svg-contaienr,
.user-groups-svg-container,
.user-licensing-svg-container,
.user-resources-svg-container,
.user-resume-svg-container {
  max-width: 100%;
  position: relative;
  height: 48px;
  width: 48px;
}

.user-resume-svg-container {
  fill: rgb(245, 245, 245);
}

.user-galleries-title,
.user-groups-title,
.user-licensing-title,
.user-resources-title{
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 16px;
  color: var(--color-light-black);
  font-family: var(--main-font-family);
}

.user-galleries-text,
.user-groups-text,
.user-licensing-text,
.user-resources-text {
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
  p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--color-light-black);
    text-align: center;
    font-family: var(--main-font-family);
  }
}

.user-galleries-button-container,
.user-groups-button-container {
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.user-galleries-button,
.user-groups-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  background-color: var(--color-light-dark-blue);
  border-color: var(--color-light-dark-blue);
  color: rgb(255, 255, 255);
}

.user-resources-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  height: 48px;
  padding: 12px 22px;
  background-color: var(--color-light-dark-blue);
  border-color: var(--color-light-dark-blue);
  color: rgb(255, 255, 255);
}

.user-galleries-button:hover,
.user-groups-button:hover,
.user-resources-button:hover {
  background-color: rgb(41, 134, 247);
  border-color: rgb(41, 134, 247);
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .user-galleries-button {
    width: auto;
    min-width: 124px;
  }
}
.user-galleries-container,
.user-groups-container,
.user-licensing-container,
.user-resources-container,
.user-resume-container {
  min-height: 700px;
  background-color: rgb(247, 248, 250);;
  box-sizing: border-box;
  display: block;
}

.user-groups-inner-container,
.user-licensing-inner-container,
.user-resources-inner-container,
.user-resources-inner-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 64px 16px;
  max-width: 560px;
  margin: 0px auto;
}

.user-licensing-upload-button-container,
.user-licensing-choose-button-container {
  max-width: 100%;
  margin-bottom: 8px;
  display: block;
}

.user-licensing-upload-button,
.user-licensing-choose-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  width: 271px;
  background-color: rgb(255, 255, 255);
  border-color: var(--color-light-dark-blue);
  color: var(--color-light-dark-blue);
}

.user-licensing-upload-button:hover,
.user-licensing-choose-button:hover {
  background-color: rgb(233, 233, 233);
}

.user-resources-outer-container {
  max-width: 100%;
  padding: 8px 16px 128px;
  background-color: rgb(247, 248, 250);
}

.user-resume-inner {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 32px;
  background-color: var(--color-light-black);
  border-radius: 4px;
  max-width: 560px;
  padding: 24px 16px;
}

@media (min-width: 1024px) {
  .user-resume-inner {
    padding: 24px;
  }
}

.user-resume-inner-container {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 16px;
}

.user-resume-title {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px;
  color: rgb(255, 255, 255);
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: var(--main-font-family)
}

.user-resume-text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  padding-bottom: 24px;
  text-align: center;
  font-family: var(--main-font-family);
}

.user-resume-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: var(--color-light-black);
}

.user-resume-button:hover {
  background-color: rgb(233, 233, 233);
  border-color: rgb(233, 233, 233);
  color: var(--color-light-black);
}

@media (min-width: 768px) {
  .user-resume-button {
    width: auto;
    min-width: 124px;
  }
}

.other-user-profile-follow-button-container {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  .other-user-profile-follow-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0px;
    border-width: 2px;
    border-radius: 28px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    background-color: var(--color-light-dark-blue);
    border-color: var(--color-light-dark-blue);
    color: rgb(255, 255, 255);
    width: auto;
    min-width: 80px;
    max-height: 32px;
    padding: 4px 14px;
  }
  .other-user-profile-follow-button:hover {
    background-color: rgb(41, 134, 247);
    border-color: rgb(41, 134, 247);
    color: rgb(255, 255, 255);
  }
}

.user-show-load-indicator {
  position: relative;
  top: 100px;
  left: 160%;
}

@media (min-width: 1440px) {
  .user-cover-picture-image {
    height: 370px
  }
}

@media (max-width: 1230px) {
  .user-show-load-indicator {
    left: 105%;
  }
}

@media (min-width: 1024px) {
  .user-cover-picture-image {
    height: 370px
  }

  .user-profile-arrow-container {
    margin-left: 64px;
  }
}

@media (max-width: 1000px) {
  .user-show-load-indicator {
    left: 55%;
  }
}

@media(max-width: 768px) {
  .user-profile-picture-image-inner {
    .profile-image {
      left: 0px;
    }
  }
  .other-user-profile-picture-image-inner {
    .profile-image {
      left: 0px;
    }
  }
  .user-cover-picture-input-container {
    right: 0px;
    bottom: 150px;
  }
}

@media (min-width: 768px) {
  .user-cover-pic-container,
  .other-user-cover-pic-container,
  .user-cover-picture-image {
    height: 370px;
  }
  .user-profile-arrow-container {
    margin-left: 32px;
  }
  .user-profile-main-container,
  .other-user-profile-main-container  {
    bottom: -44px;
  }
  .user-profile-picture-image-inner {
    .profile-image {
      height: 96px;
      width: 96px;
    }
  }
  .other-user-profile-picture-image-inner {
    .profile-image {
      height: 96px;
      width: 96px;
    }
  }
  .other-user-main-info-container-outer,
  .user-main-info-container-outer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 600px) {
  .user-show-load-indicator {
    left: 10%;
  }
}

@media (min-width: 415px) {
  .user-profile-edit-icon > a:hover,
  .user-profile-share-icon > a:hover,
  .user-profile-portfolio-icon > a:hover,
  .user-profile-more-icon > a:hover,
  .other-user-profile-airplane-icon > a:hover,
  .other-user-profile-share-icon > a:hover,
  .other-user-profile-report-icon > a:hover {
    opacity: 1;
    background: rgba(34, 34, 34, 0.1);
    outline: none;
  }
}