@import "../variables.scss";

.error-page-container {
  margin-top: 200px;
  text-align: center;
}

.error-page-title {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 80px;
}

.error-home-link, .error-login-link {
  margin-bottom: 20px;
  font-size: 2.6rem;
}

.error-home-link > a, .error-login-link > a {
  font-weight: 600;
}