@import "../variables.scss";

header {
  display: flex;
  background-color: $white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 22px 0px;
}

header > a {
  display: flex;
  margin-left: 50px;
}

.logo {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header > div > .user-auth-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

header > div > .user-auth-buttons li {
  margin-right: 35px;
}

header > div > .user-auth-buttons li a {
  font-weight: $boldFontWeight;
}

.sign-up-button {
  border-radius: 20px;
  border: 2px solid $black;
  padding: 6px 16px;
}

img {
  height: 32px;
  margin: 0 10px;
}

.header-right {
  display: flex;
}

.welcome-message {
  position: relative;
  top: 10px;
}