header {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 16px 0px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

header > a {
  display: flex;
  margin-left: 50px;
}

.logo {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.logo-text {
  font-weight: bold;
}

header > div > .user-auth-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

header > div > .user-auth-buttons li {
  margin-right: 20px;
}

header > div > .user-auth-buttons li:last-child {
  margin-right: 55px;
}

header > div > .user-auth-buttons li a {
  font-weight: bold;
}

.sign-up-button {
  border-radius: 20px;
  border: 2px solid #111111;
  padding: 6px 16px;
}

.no-blue:hover {
  color: black;
}

.upload-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px;
  border: 2px solid #111111;
  border-radius: 28px;
  cursor: pointer;
  text-align: center;
  padding: 10px 22px 10px 14px;
  width: 84px;
  height: 24px;
  position: relative;
  top: -5px;
  svg {
    height: 24px;
    width: 24px;
    position: relative;
    left: -5px;
  }
  span {
    position: relative;
    top: -6px;
  }
}

.upload-button:hover {
  background-color: #d7d8db;
  color: #222;
  a:hover {
    color: #222;
  }
}

img {
  height: 32px;
  margin: 0 10px;
}

.header-right {
  display: flex;
}

.welcome-message {
  position: relative;
  top: 10px;
}

.header-icon-user, .header-plane-icon {
  margin-right: 15px;
  img {
    height: 32px;
    width: 32px;
  }
}

.header-bell-icon {
  margin-left: 15px;
  margin-right: 20px;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.header-plane-icon {
  cursor: pointer;
}

.header-search {
  cursor: not-allowed;
  background-color: rgb(247, 248, 250);
  border: none;
  border-radius: 25px;
  width: 312px;
  font-size: 16px;
  height: 40px;
  text-indent: 48px;
  padding: 0px;
  margin-right: 25px;
}

.header-search-icon {
  position: relative;
  top: 8px;
  left: 30px;
  z-index: 1;
  cursor: not-allowed;
}

.header-search:focus {
  outline: none;
}

input::placeholder {
  color: #97a0a8;
}

@media (max-width: 900px) {
  .header-search {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .header-search, .header-search-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-plane-icon,
  .header-bell-icon {
    display: none;
  }
}