.splash-page {
  background-color: #ffffff;
  margin-top: 70px;
}

.splash-cover {
  background-image: url(https://500px.com/staticV2/media/header@2x.d3674ddb.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  grid-column: 1 / span 12;
  height: 600px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.splash-shape-divider-bottom {
  z-index: 1;
  grid-column: 1 / span 2;
  align-self: flex-end;
  position: relative;
  top: 5px;
}

.splash-text {
  grid-column: 1 / span 1;
  padding-top: 80px;
  margin: 0 64px;
}

.splash-title, .splash-description {
  padding-bottom: 10px;
  color: #111111;
  margin-left: 100px;
}

.splash-title {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 20px;
  max-width: 518px;
}

.splash-description {
  max-width: 526px;
}

.splash-sign-up-button {
  position: relative;
  left: 15%;
  top: 15%;
  background-color: #ffffff;
  color: #111111;
  border-radius: 25px;
  margin: 16px 0 0;
  padding: 0 32px;
  width: 216px;
  height: 56px;
  border: none;
  cursor: pointer;
}

.splash-sign-up-button:hover {
  background-color: #d7d8db;
}

.splash-sign-up-button > span {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}

.splash-about-title {
  margin: 60px 0;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  position: relative;
  z-index: 2;
}

.splash-about-contents {
  display: flex;
  margin: 0 125px;
  justify-content: center;
}

.splash-about-icons {
  width: 90px;
  height: 90px;
}

.splash-about-content {
  margin-top: 30px;
  margin-right: 25px;
  width: 332px;
  height: 296px;
}

.splash-about-content:last-child {
  margin-right: 0px;
}

.splash-about-content-titles {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
}

.splash-about-content-descriptions {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgb(34, 34, 34);
  font-weight: 340;
}

.splash-about-content-description-one, .splash-about-content-description-four {
  max-width: 305px;
}

.splash-about-content-description-two {
  max-width: 312px;
}

.splash-about-content-description-three {
  max-width: 305px;
}

.splash-about {
  padding-bottom: 120px;
}

.splash-app {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

.devices-image {
  width: 350px;
  height: 350px;
  position: relative;
  top: -20px;
  left: -250px;
}

.splash-app-image {
  width: 135px;
  height: 45px;
}

.splash-app-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}

.splash-app-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  color: rgb(34, 34, 34);
  max-width: 470px;
}

.editor-choice-container {
  background-image: url(banner-editor-mobile.png);
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  height: 264px;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-layout-box-container {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(12, 239, 232);
  height: 96px;
  width: 96px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.splash-layout-box {
  max-width: 100%;
  position: relative;
  height: 64px;
  width: 64px;
  .svg {
    overflow: hidden;
  }
}

.editor-choice-title {
  span {
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-weight: bold;
  }
}

.editor-content-container {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  padding-top: 16px;
}

.editor-content-info {
  display: flex;
  flex-wrap: wrap;
}

.editor-content-info-inner {
  max-width: 100%;
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: center;
}

.editor-content-info-title {
  font-size: 24px;
  line-height:28px;
  font-weight: bold;
  margin: 0px 0px 8px;
  color: rgb(34, 34, 34);
  font-family: Helvetica;
}

.editor-content-info-para {
  font-size: 16px;
  line-height: 20px;
  color: rgb(34, 34, 34);
  font-family: Helvetica;
  max-width: 740px;
  margin: 0px auto;
}

.join-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 100px;
  font-weight: bold;
  margin: 16px 0px 0px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  height: 56px;
  min-width: 216px;
  line-height: 56px;
  font-size: 21px;
  transition: background-color 0.1s ease 0s;
}

.join-button:hover {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}

.editor-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  max-width: 1130px;
  width: 100%;
  margin: 0px auto;
  align-items: center;
}

.editor-image-container {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
  max-width: 100%;
  position: relative;
}

.editor-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.join-community-container {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  background-color: rgb(69, 69, 124);
  text-align: center;
  height: 312px;
  div {
    height: 32px;
  }
}

.join-community-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  margin: 0px 0px 8px;
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  margin-top: 36px;
}

.join-community-para {
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: Helvetica;
}

.join-community-sign-up-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 100px;
  font-weight: bold;
  margin: 16px 0px 0px;
  border: none;
  width: 200px;
  height: 56px;
  min-width: 216px;
  line-height: 56px;
  transition: background-color 0.1s ease 0s;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  span {
    font-size: 24px;
    line-height: 64px;
  }
}

@media (max-width: 1275px) {
  .splash-app {
    display: none;
  }
}

@media (max-width: 1200px) {
  .splash-title {
    width: 500px;
  }
  .splash-description {
    width: 400px;
  }
}

@media (max-width: 1050px) {
  .splash-about-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .editor-choice-container {
    background-image: url(banner-editor-desktop.png);
  }

  .splash-layout-box-container {
    margin-bottom: 24px;
  }

  .editor-choice-title {
    span {
      font-size: 64px;
      line-height: 68px;
    }
  }

  .editor-content-info-inner {
    width: 100%;
  }

  .editor-content-info-para {
    max-width: 100%;
  }

  .editor-image {
    max-height: 255px;
  }

  .join-community-para {
    max-width: 840px;
    margin: 0px auto 32px;
  }
}

@media (min-width: 987px) {
  .editor-image {
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .editor-choice-container {
    height: 400px;
    background-image: url(banner-editor-tablet.png);
  }

  .editor-content-info-inner {
    padding-bottom: 32px;
  }

  .editor-content-info-title {
    margin-bottom: 16px;
  }

  .editor-content-info-para {
    max-width: 100%;
  }

  .join-button {
    width: auto;
    padding: 0px 32px;
    line-height: 64px;
    font-size: 24px;
  }

  .editor-images-container {
    padding-bottom: 32px;
  }

  .editor-image {
    max-height: 220px;
  }

  .join-community-title {
    margin-bottom: 16px;
  }

  .join-community-para {
    margin-bottom: 32px;
  }

  .join-community-sign-up-button {
    margin-top: 0px;
    min-width: 220px;
    padding: 0px 32px;
    line-height: 64px;
  }
}

@media (max-width: 750px) {
  .splash-sign-up-button {
    display: none;
  }
  .splash-title {
    width: 400px;
  }
}

@media (max-width: 700px) {
  .splash-description {
    display: none;
  }
}

@media (max-width: 550px) {
  .splash-title {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .editor-image {
    max-height: 260px;
  }
}

@media (max-width: 475px) {
  .editor-image {
    max-height: 206px;
  }
}

@media (max-width: 415px) {
  .editor-image {
    max-height: 176px;
    width: auto;
  }
}