/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset.scss";
@import "./components/header.scss";
@import "./components/session_form.scss";
@import "./components/splash.scss";
@import "./components/home.scss";
@import "./components/404.scss";
@import "./components/images/image_index.scss";
@import "./components/images/image_show.scss";
@import "./components/images/image_upload_form.scss";
@import "./components/images/image_update_form.scss";
@import "./components/users/user_show.scss";
@import "./components//users/user_update.scss";
@import "./components/footer.scss";
@import "./components/comments/comments_form.scss";
@import "./components/developer_message.scss";

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #f7f8fa;
  font-family: Helvetica;
  color: #111111;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: #111111;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

a:hover {
  color: #2986f7;
}

.button {
  border-radius: 20px;
  padding: 6px 16px;
  background-color: #0870d1;
  color: #ffffff;
}

.button:hover {
  background-color: #2986f7;
}

.block-space {
  margin-top: 80px;
}

.is_disabled {
  cursor: not-allowed;
}

.circular {
  border-radius: 50%;
}