/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset.scss";
@import "./components/header.scss";
@import "./components/session_form.scss";
@import "./components/splash.scss";
@import "./components/home.scss";
@import "./components/404.scss";
@import "./components/images/image_index.scss";
@import "./components/images/image_show.scss";
@import "./components/images/image_upload_form.scss";
@import "./components/images/image_update_form.scss";
@import "./components/users/user_show.scss";
@import "./components//users/user_update.scss";
@import "./components/footer.scss";
@import "./components/comments/comments_form.scss";
@import "./components/developer_message.scss";
@import "./components/modal.scss";

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-light-white: rgb(247, 248, 250);
  --color-dark-white: rgb(238, 239, 242);
  --color-dark-white2: rgb(233, 233, 233);
  --color-darker-white: rgb(215, 216, 219);

  --color-gray: rgb(109, 115, 120);

  --color-light-black: rgb(34, 34, 34);
  --color-light-black-opacity: rgba(34, 34, 34, 0.1);
  --color-dark-black: rgb(17, 17, 17);
  --color-black: rgb(0, 0, 0);

  --color-light-dark-blue: rgb(8, 112, 209);
  --color-light-darker-blue: rgb(41, 134, 247);
  --color-stroke-blue: rgb(147, 191, 236);

  --color-red: rgb(219, 56, 56);

  --main-font-family: Helvetica;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-light-white);
  font-family: var(--main-font-family);
  color: var(--color-dark-black);
  font-weight: 300;
  font-size: 16px;
}

a {
  color: var(--color-dark-black);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

a:hover {
  color: var(--color-light-darker-blue);
}

.button {
  border-radius: 20px;
  padding: 6px 16px;
  background-color: var(--color-light-dark-blue);
  color: var(--color-white);
}

.button:hover {
  background-color: var(--color-light-darker-blue);
}

.block-space {
  margin-top: 80px;
}

.is_disabled {
  cursor: not-allowed;
}

.circular {
  border-radius: 50%;
}