// REM32 primary color: white 
// $primaryColor: #ffffff;
$white: #ffffff;

// REM32 secondary color: black
// $secondary-color: #111111;
$black: #111111;

$errors-color: #c31e1e;

// REM32 font:
// $primary-font: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, Nimbus Sans L, Liberation Sans, Arial, sans-serif
// $otherfont: apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
$primaryFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Grey scale colors for site:

// $grey-light-1-color: #f8f8f8;
// $grey-light-2-color: #e8e8e8;
// $grey-light-2-color: #d8d8d8;
// $grey-light-4-color: #c8c8c8;
// $grey-dark-1-color: #9b9b9b;
// $grey-dark-2-color: #6d6d6d;
// $grey-dark-3-color: #5f5f5f;
// $grey-dark-3-color: #2f2f2f;
$lighterGrey: #f7f8fa;
$grey: #d7d8db;
$mediumGrey: #6d7378;
$veryDarkGrey: #222222;
$disabledGrey: #b6b9bb;

// Hover highlight color (blue):
// $hoverBlue1Color: #296cc9;
// $hoverBlue2Color: #1890ff;
$primaryBlue: #0870d1;
$primaryBlueHover: #2986f7;

$lightFontWeight: 300;
$mediumFontWeight: 400;
$boldFontWeight: 600;